body {
   margin:auto;
  background-color: rgb(230, 245, 175);
}
h1{
  
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}
  .content{
    margin: auto;
  }
   
   
   #experiences, #education, #competencies, #hobbies {
      display: grid;
      grid-template-columns: 110px auto;
      margin-top: 20px;
      
    }
    #competencies h3, #education h3, #hobbies h3, #experiences h3 {
      grid-row: 1/3;
      font-style: italic;
      font-weight: bold;
      
    margin:0;}
    h4{
      background-color: rgb(167, 167, 10);
     width: fit-content;
    }
      
    
    figure{
      position: absolute;
      
      top:40px;
      left:70%;
      margin-left: 20px;
      padding-top: 10px;
      
  }
  img{
      width:180px;
      height: 150px;
     
  }
  
  .experience , .skills-primary, .skills-secondary , ul{
    border-left: black solid 1px;
  }
  
  
h2 ,#about h3{
    display:none;
}
 
#about p{
    opacity: 60%;
    color: rgb(41, 38, 38);
     font-size: 1.2em;
    width:70%;
    margin-bottom: 60px;
    background-color: rgb(180, 180, 113);
    margin-left: 10px;
    
  }
  
  .skills-primary, .skills-secondary {
    display: flex;
    grid-column: 2 ; 
    width:60%;
  
    margin-left: 20x;
  }
  .skill {
    color: rgb(17, 16, 16);
    background-color:  #43720d;
    margin: 5px; 
    height: 22px;
    padding-top: 5px;
  }
    
   .experience-description{
     background-color: rgb(217, 230, 103);
   } 
    
  
.skill[data-skill="5"] , .skill[data-skill='9'],.skill[data-skill="3"],.skill[data-skill="1"] , .skill[data-skill="7"]{
  margin-left: 10px;
  width: 30%;

}

.skill[data-skill='1']::after{
    content: '★';
    float: right;
  }
  
  .skill[data-skill='3']::after {
    content: '★★';
    float: right;
  }
  
  .skill[data-skill='5']::after {
    content: '★★★';
    float: right;
    
  }
  .skills-secondary .skill[data-skill='5'] {
    font-size: xx-small;
  }
  
  .skill[data-skill='7']::after{
    content: '★★★★';
    float: right;
    font-size: xx-small;
  }
  
  .skill[data-skill='9']::after{
    content: '★★★★★';
    float: right;
    font-size: xx-small;
  }
  .experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  padding: 10px;}
  .experience-description{
    grid-column: 1/3;}
    
  .experience-details{
    
    color: rgb(10, 10, 10);
    opacity: 50%;
  
    text-align: end;
    
  }
  .skills-secondary{
    font-size: x-small;
  }
  .experience-institution , #contact h3{
    display: none;
  }
  .experience-type{
    color: #364707;
      margin-left: 20x;
     
  }
  .experience{
    padding-top: 0;
  }
  ul ,.experience h4{
  
    margin-top: 0;
  }

  
  h3{
    margin-left: 10px;
  }
  .contacts{
    display: flex;
    justify-content: center;
  
  }
  
  .contact-email{
    background-image: url(../images/email.png);
    width: 80px;
    height: 80px;
  }
  .contact-phone{
    background-image: url(../images/phone.png);
    width: 80px;
    height: 80px;
  }
  .contact-github{
   background-image: url(../images/github.png);
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .contact-facebook{
   background-image: url(fb.png);
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
 
  .contact-value , .contact-type{
    display: none;
  }
  .contact{
    background-repeat: no-repeat;
    background-size:cover; 
  
    
  }
  .experience-date-separator{
    color: #0ee720;
  }
  ul{
    background-color: rgb(119, 139, 6);
    width: fit-content;
  }
  #contact{
   background-color: goldenrod;
  }
  @media screen and (max-width:467px){
    #experiences, #education, #competencies, #hobbies {
      display: block;
    }  
    .skills-primary, .skills-secondary {
      border-left: none;
     
    }
    .skills-primary , .experience , .education , .hobbies , ul{
       margin-top: 20px;
    }
    h3{
      border-bottom: 1px solid black;
      
      
    }
    
    #competencies h3 {
width: 110px;
    } #education h3{
width: 80px;
    } #hobbies h3{
width: 65px;
    } #experiences h3 { width: 100px;}
    .skill{
      font-size: 7px;
  height: 10px;
    }
    .skills-primary{
      display: block;
    }
    .skills-secondary{
      font-size: small;
      display: block;
          }
    
    figure img{
      display: none;
    }
    .experience , .skills-primary, .skills-secondary , ul{
      border-left: none;
    }
    
    hgroup{
      font-size: small;
    }
    
    #about p {
      font-size: 1em;
      width:100%;
    }
    .skill {
     
      width:fit-content;
      font-size: xx-small;
    }
    .experience-date , .experience-type{
      font-size: xx-small;
    }
    .skills{
      width: 100%;
    }
  }
  @media screen and (max-width:767px){
    #experiences, #education, #competencies, #hobbies , .skills-primary, .skills-secondary{
      display: block;
    }  
    .skills-primary, .skills-secondary {
      border-left: none;
     
    }
    .skills-primary , .experience , .education , .hobbies , ul{
       margin-top: 20px;
    }
    h3{
      border-bottom: 1px solid black;
      
    }
    #competencies h3 {
width: 110px;
margin-left: 10px;
    } #education h3{
width: 80px;
margin-left: 10px;
    } #hobbies h3{
width: 65px;
margin-left: 10px;
    } #experiences h3 { width: 100px;
    margin-left: 10px;}
    .skill{
      font-size: 7px;
  height: 10px;
    }
    
    figure img{
      display: none;
    }
    .experience , .skills-primary, .skills-secondary , ul{
      border-left: none;
    }
    
   
    
    #about p {
      font-size: 1em;
      width:100%;
    }
    .skill {
      height: 30px;
      font-size: 15px;
      width: 50%;
    }
    .contact-email{
     
      width: 40px;
      height: 40px;
    }
    .contact-phone{
      
      width: 40px;
      height: 40px;
    }
    .contact-github{
     
      width: 40px;
      height: 40px;
    }
    .contact-facebook{
     
      width: 40px;
      height: 40px;
    }
    .skill[data-skill="5"] , .skill[data-skill='9'],.skill[data-skill="3"],.skill[data-skill="1"] , .skill[data-skill="7"]{
  margin-left: 10px;
  width: 50%;

}
  }
  