body{
    max-width: 100%;
    background-color: rgb(215, 225, 243);
}
header {
    padding-top: 10px;
width: 100%;
background-color: rgb(80, 97, 245); 
display:flex;
font-family: Arial, Helvetica, sans-serif;
padding-bottom: 5px;
}
header div{
color: rgb(8, 37, 61);

font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#about , #competencies{
margin-bottom: 20px;
}


img{
    width: 90px;
    height: 90px;
    display: none;
}

hgroup{
    color: rgb(133, 37, 112);
    margin-left: 35px;
    width:80%;
    background-color: white;
    border-radius: 50px 50px;
    text-align: center;
font-size: smaller;
height: 80px;

}
/*.skills-primary::before{
    content: "Main";
}
.skills-secondary::before{
    content: "Other";
}*/
dl{
    display: flex;
margin-bottom: 0;
margin: 0;
}
dt{
    background-color: rgb(119, 176, 223);
}
dd{ 
    color: white;
    width: 110px;
    margin: 0;  
}
dd a {
    color:rgb(119, 176, 223);
    text-decoration: none;
}
.contacts{
    display: flex;
    flex-direction: column;
   width:100%;

}
dt{
    width: 110px;
}
.content{
    width: 90%;
    margin: auto;

}

h3{
    padding-left: 10px;
    border-bottom:solid 1px rgb(152, 148, 168); 
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.skill{
    background-color: rgb(0, 6, 12);
    margin-bottom: 4px;
    height: 20px;
    color: white;
    padding-top: 3px;
    padding-left: 3px;

}
.skills-secondary , .skills-primary {
    padding-left: 10px;
}
/*.skills-secondary{
    margin-top: 30px;
    
}*/
.skills-primary .skill:nth-child(1) span{
    width:50%;
    background-color: rgb(119, 176, 223);

    display: block;

}
.skills-primary .skill:nth-child(2) span{
    width:30%;
    background-color: rgb(119, 176, 223);

    display: block;

}
.skills-primary .skill:nth-child(4) span{
    width:70%;
    background-color: rgb(119, 176, 223);

    display: block;

}
.skills-primary .skill:nth-child(5) span{
    width:80%;
    background-color: rgb(119, 176, 223);

    display: block;

}
.skills-primary .skill:nth-child(6) span{
    width:22%;
    background-color: rgb(119, 176, 223);

    display: block;

}
.skills-primary .skill:nth-child(3) span{
    width: 10px;
    background-color: rgb(119, 176, 223);
    width: 8%;
    display: block;

}
.skills-secondary .skill:nth-child(1) span{
    width:70%;
    background-color: rgb(119, 176, 223);
    display: block;
    opacity: 0.5;
}
.skills-secondary .skill:nth-child(2) span{
    width:50%;
    background-color: rgb(119, 176, 223);

    opacity: 0.5;
    display: block;
}
.skills-secondary .skill:nth-child(3) span{
    width:60%;
    background-color: rgb(119, 176, 223);

    opacity: 0.5;
    display: block;
}

#education .experience{
    padding-left: 10px;
}

.experience-details{
    color:rgb(97, 106, 116,0.7);
    margin-left: 10px;
}
.experience-type , .experience-institution{
    color: rgb(119, 176, 223);
}
h4{
    margin-bottom: 0;
}

.experience-date-separator{
    color: rgb(119, 176, 223);
}
h3{
    background-color:rgb(221, 101, 171) ;
    width: 170px;
}
h3::before{
    content: "";
    height: 20px;
    width: 30px;
    background-color: rgb(14, 13, 13);
    border-radius: 20% 3% 4% 60%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.experience-institution::before{
    margin-left: 4px;
    color:rgb(119, 176, 223);
    opacity: 0.8;
    content: "@ ";
}
@media only screen and (min-width:767px) {

    header{
   height: 120px; 
   margin-bottom:35px;
padding-top: 20px;
    }
    header div{
      width: 50%;
      display: flex;
      padding-left: 25px;
      font-size: smaller;
  }

  dd{
      width: 540px;
      background-color: black;
  }

  #contact{

      position: absolute;
      left: 50%;
      top:25px;

   }
   #contact h3{
      display:none;
      }
      .content{
          display: grid;
          justify-content: center;
          grid-template-columns: 50% 50%;
      }
      #about , #competencies{

          height: 290px;
      }
      hgroup{
          margin-right: 20px;
         text-align: center;
      }
} 
@media  screen and (max-width:479px) {

header{
   height: 160px;
   text-align: center;
}
header div {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

hgroup{

   margin-top: 35px;
    font-size: 10px;

}


.contacts{
    font-size: 12px;
}
dt{

    color:white;
    width: 80px;
    margin-right: 5px;
}
}